#tabList{
  margin-left: 1em;
}

.domain{
  width: 400px;
  font-size: large;
  font-weight: 400;
  margin-bottom: 15px;
  font-family: 'Merriweather', serif;
  cursor: pointer;
}

.tab > a {
  text-decoration: none;
  color: black;
}

.tab{
  margin-top: 5px;
  padding-left: 10px;
  font-size: 12px;
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'Open Sans', sans-serif;
}

.tab:hover {
  font-size: 13px;
  background: #e6f6fa;
  cursor: pointer;
}

.domain > img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-left: 10px;
  padding-bottom: 5px;
}

.tab > a > img {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  vertical-align: middle;
}
